.container {
  display: flex;
  flex-direction: column;
  // padding-left: 20vh;
  margin-top: 5vh;

}

.container .contents {
  position: relative;
  // margin-top: 20vh;
  // min-height: 90vh;
  // max-width: 100vw;

}

.container .contents .content {
  min-height: 60vh;
  // padding: 25px 15px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container .contents {
  min-height: 60vh;
  margin-left: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;

}

//CSS property for Recent Orders Grid

.container .contents .content .recent-orders {
  min-height: 50vh;
  flex: 5;
  background: #FFFFFF;
  margin: 0 25px 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;

}

//CSS property for New User Section

.container .contents .content .new-user {
  flex: 2;
  background: #FFFFFF;
  min-height: 50vh;
  max-width: 200vw;
  margin: 0 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;

}


//CSS property for Bottam graph

.container .content-graph {
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.container .content-graph .Botton-line-graph {
  min-height: 50vh;
  flex: 1;
  background: #FFFFFF;
  margin: 0 25px 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content-graph .Botton-column-graph {
  min-height: 50vh;
  flex: 1;
  background: #FFFFFF;
  margin: 0 25px 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content-graph .Botton-pie-chart-graph {
  min-height: 50vh;
  flex: 1;
  background: #FFFFFF;
  margin: 0 25px 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


//CSS property for Responsive Screen for UI
@media screen and (max-width:768px) {

  // flex: 1;
}

.container .content .cards {
  justify-content: center;
}

.container .content .content-3 {
  margin: 25px;
}

.container .content .content-2 .recent-order table th:nth-child(2),
.container .content .content-2 .recent-order table td:nth-child(2) {
  display: none;
}

.container .content-graph .Botton-line-graph {
  flex: 1;
}

.container .content-graph .Botton-column-graph {
  flex: 1;
}

.container .content-graph .Botton-pie-chart-graph {
  flex: 1;
}

@media screen and (max-width: 715px) {
  .container .contents .content {
    margin-right: 30vh;
  }

  .container .top-data-cards {
    margin-left: 20vh;
  }

  .container .content-graph .Botton-line-graph {
    flex: 1;
  }
  
  .container .content-graph .Botton-column-graph {
    flex: 1;
  }
  
  .container .content-graph .Botton-pie-chart-graph {
    flex: 1;
  }

}

