<nav class="nav">
    <a href="#"></a>
    <i class="bi bi-list"></i>

    <div>
        <i class="bi bi-search"></i>
        <small class="search-icon">Search</small>
    </div>

    <div class="user-account">
        <small>ENG</small>
        <i class="bi bi-caret-down-fill"></i>
    </div>

    <i class="bi bi-chat-right-text"></i>
    <i class="bi bi-bell"></i>
    <i class="bi bi-person-square"></i>

    <div class="user-account-main">
        <b><small>Camille Stevenson</small></b>
        <i class="bi bi-caret-down-fill"></i>
    </div>

</nav>