<div class="content">
    <div class="cards">
        <div class="card" *ngFor="let card of topCards; let i = index"
        [style.background-color]="i === 0 ? '#87CEEB' : '#FFFFFF'">
            <!-- Top Cards Display -->
            <div class="box">
                <div class="sub-header">{{ card.sub_header.split(' ')[0] }}</div>
                <div class="header">{{ card.header }}</div>
                <div class="info"><small>Lorem ipsum dolor sit amet.</small></div>
            </div>
            <div class="card-icon">
                <i class="fas" [ngClass]="iconClasses[i]"></i>
            </div>
        </div>
    </div>
</div>