<!-- <div class="content-1"> -->
<!-- <div class="recent-orders"> -->
<!-- Recent Orders Title -->
<div class="recent-orders-title">
    <h4>Recent Order's</h4>
</div>
<!-- Recent Orders Table -->
<table>
    <tr>
        <th></th>
        <th></th>
        <th>Sr. No.</th>
        <!-- <th>Id</th> -->
        <th>Name</th>
        <th>Product</th>
        <th>Delivery Date</th>
        <th>Status</th>
        <th>Tracking No</th>
        <th>Shipping</th>
        <th></th>
    </tr>
    <tr *ngFor="let order of recentOrders; let i = index">
        <td></td>
        <th></th>
        <td>{{i + 1}}</td>
        <td>{{order.name}}</td>
        <td>{{order.product}}</td>
        <td>{{formatDate(order.delivery_date)}}</td>
        <td><button [ngClass]="getStatusClasses(order.status)">{{order.status}}</button></td>
        <td>{{order.tracking_no}}</td>
        <td>{{order.shipping}}</td>
        <td class="cut-button" (click)="onCutClicked(order)"><i class="bi bi-x-lg"></i></td> 
    </tr>
</table>
<!-- </div> -->
<!-- </div> -->